*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data*.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
*.sqlite
zhanor_admin/plugins/*
!zhanor_admin/plugins/plugins_status.json
zhanor_admin/cache
production.ini
command.txt
zhanor_admin/alembic/versions/*
!zhanor_admin/alembic/versions/README.txt
zhanor_admin/static/uploads/*
zhanor_admin/static/addon/*
production.ini
